.AnaSayfa{
    height: 70%;
    width: 70%;
    background-color: #DBE2EF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.GirisButonlari{
    width: 50%;
    border-left-width: 2px;
    border-left-color: gray;
    border-left-style: solid;
}

.GirisButonu{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
}

.Info{
    float:right;
    width: 50%;
}

.InfoText{
    float:right;
    margin-right: 5%;
}

.LinkButonu{
    text-decoration: none;
    
}