.Semptom{
    height: 10%;
    background-color: #F9F7F7;
    margin-top: 0%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    border-width: 1px ;
    border-style: solid;
    color: #3F72AF;
    padding-left: 2%;
    direction: ltr;
}
.Semptom:hover{
    cursor: pointer;
}

.SemptomSelected{
    height: 35%;
    background-color: #112D4E;
    margin-top: 0%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: block;
    align-items: center;
    border-width: 1px ;
    border-style: solid;
    color: #F9F7F7;
    padding-left: 1%;
    padding-top: 1%;
    direction: ltr;
}