.ViewComponent{
    height: 70%;
    width: 70%;
    background-color: #DBE2EF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.InputListX{
    width: 50%;
    height: 60%;
}