.BolgeSayfasi{
    height: 70%;
    width: 70%;
    background-color: #DBE2EF;
    border-radius: 10px;
    overflow-y: hidden;
}

.Bolgeler{
    width: 30%;
    height: 80%;
    margin-left: 1%;
    margin-top: 1%;
    float: left;
    border-radius: 10px;
    overflow-y: scroll;
    direction: rtl;
}

.Bolge{
    background-color: #F9F7F7;
    height: 40px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3F72AF;
    direction: ltr;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.Bolge:hover {
    cursor: pointer;
}

.BolgeSelected{
    background-color: #3F72AF;
    color: #F9F7F7;
    height: 40px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    direction: ltr;
}

.BolgeSelected:hover {
    cursor: pointer;
}

.Bolgeler::-webkit-scrollbar{
    display: none;
}

/*.Bolgeler::-webkit-scrollbar {
    width: 20px;
    background-color: #F9F7F7;
    margin-right: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.Bolgeler::-webkit-scrollbar-thumb {
    width: 20px;
    background-color: #3F72AF;
    height: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}*/