.GirisSayfasi{
    height: 70%;
    width: 70%;
    background-color: #DBE2EF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.Inputs{
    width: 50%;
    height: 60%;
}

.Input{
    margin-top: 0.2%;
}

.InputLabel{
    margin-top: 3%;
}

.InputBox{
    width: 100%;
    height: 30px;
    border: 2px solid black;
    border-radius: 10px;
    display: block;
    font: 16px "Helvetica", "Arial", "sans-serif";
}

.Button{
    color: #112D4E;
    background-color: #3F72AF;
    border: 2px solid #112D4E;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    width: 50%;
    margin-top: 8%;
    margin-left: 25%;
}

label{
    color: #112D4E;
    margin-left: 1%;
}